/* Bootstrap Icon import */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/**************App*********************/

html, body { height: 100%; }
body { padding:0; margin:0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/***************Navbar *****************/
li{
    list-style: none;
}

.near{
    padding-left: 10rem;
    padding-right: 7rem;
}

/**************SideNav*************/
.sideNavLayout{
  margin-top: 3rem;
}


/**************** Login ****************/
.loginbody
  {
      background-image: url("../images/cover2.png");
      background-repeat: no-repeat;
      background-size: cover;
  }

  /* Search Bar */
  .searchBar
  {
    width: 80%;
  }

  /* Create-Post.blade.php */
.publish
{
  font-size: 2.5rem;
  padding-left: 5rem;
}